@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 22px;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: white;
    font-family: var(--body-font);
}

:root {
    --header-height: 2.5rem;
    --first-color: hsl(28, 88%, 62%);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(0, 0%, 6%);
    --body-font: "Montserrat", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: 0.813rem;
    --font-semi-bold: 600;
    --z-tooltip: 10;
    --z-fixed: 100;
}  

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

h1 {
    text-align: center;
    color: var( --first-color);
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(0,0,0,0.4);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #fff;
    text-decoration: none;
}

input[type="text"],
input[type="date"],
input[type="password"],
select,
button,
textarea {
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;

}

button {
  padding: 0.25rem;
  
}

ul {
    list-style: none;
}

.pendingUl{
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.pendingLi{
    list-style-type: none;
    background-color: gray;
    border-radius: 1em;
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid #ccc;
    text-align: center;
}

.requestForm,
.editForm {
    background-color: gray;
    padding: 1rem;
    border-radius: 1rem;
}

.pendingList {
    background-color: lightgray;
    padding: 1rem;
    border-radius: 1rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}


.persistCheck {
    font-size: 0.75rem;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.persistCheck label {
    margin: 0;
}

[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin: 0 5px 2px 2px;
}

.calendar-container {
    margin-top: 3rem;
    padding: 20px;
    border-radius: 1rem;
    background-color: gray;
    
}

.calendar {
    background-color: white;
    border-radius: 0.5rem;
    padding: 10px;
    color: gray;
}

